.video-contest {
  padding-left: 352px;
  background: linear-gradient(180deg, $light-gray 0%, $light-black 100%);

  & img {
    margin-top: 34px;
  }

  & h1 {
    margin: 0;
    margin-top: 18px;
    font-size: 48px;
    line-height: 56px;
    font-weight: bold;
  }
}

.video-contest__container {
  display: grid;
  grid-template-areas:  "player promo"
                        "player socials"
                        "player voices";
  grid-template-columns: minmax(370px, auto) minmax(300px, 336px);
  margin-top: 42px;
}

.video-contest__video-player {
  grid-area: player;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;

  & img {
    margin-top: 0;
  }
}

.video-contest__player-button {
  cursor: pointer;
  position: absolute;
  transform: translateX(-50%);
  left: 50%;
  top: 34%;
  width: 115px;
  height: 152px;
  fill: white;

  & :hover {
    opacity: 0.7; ;
  }
}

.video-contest__promo {
  grid-area: promo;
  padding: 16px 48px 0 32px;

  & h2 {
    margin: 0;
    font-size: 24px;
    line-height: 32px;
    font-weight: bold;
  }

  & p {
    margin: 0;
    margin-top: 16px;
    font-size: 16px;
    line-height: 24px;
  }
}

.video-contest__socials {
  grid-area: socials;
}

.video-contest__socials-list {
  display: flex;
  flex-direction: column;

  & li {
    margin-top: 8px;
    height: 60px;
    text-align: center;
  }

  & svg {
    width: 256px;
    height: 60px;
  }
}

.video-contest__voices {
  grid-area: voices;
  text-align: center;
  font-size: 18px;
  line-height: 24px;
  font-weight: bold;
}
